html{
 font-size: 62.5%; 
  /* 1rem = 10px */
} 

*{
 margin: 0; 
 padding: 0; 
 box-sizing: 0; 
}

:root{
  --darkBackground: #535971;
  --redAction: #FF5374;
  --whitekBackground: #EFEFEF;
  --grayBorder: #E6E6F0;
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: var(--whitekBackground);
  color: var(--darkBackground);
}

body::before{
  content: '';
  background-color: var(--darkBackground);
  position: absolute;
  height: 43.6rem;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.container{
  max-width: 75rem;
  margin: 14rem auto 14rem;
}

.container header{
  color: white;
  max-width: 41.7rem;
  margin-bottom: 5.8rem;
}

.container header h1{
  font-size: 4.8rem;
  line-height: normal;
  font-family: 'Staatliches', cursive;
  font-weight: 400;
}

.container header p{
  font-size: 2rem;
  line-height: normal;
}

.container form{
  background-color: #FFF;
  padding: 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  border-radius: 2rem 2rem 0 0;
}

.container fieldset{
  border: none;
}

.container fieldset legend{
  font-size: 2.4rem;
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  line-height: 3.4rem;
  border-bottom: .1rem solid var(--grayBorder);
  padding-bottom: 1.6rem;
  margin-bottom: 3.2rem;
}

.fieldset_wrapper{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.input_wrapper_2COL{
  display: flex;
  gap: 2.2rem;
}

.input_wrapper_2COL .input_wrapper{
  width: 30rem;
}

.input_wrapper{
  display: flex;
  flex-direction: column;
}

.input_wrapper label{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: .8rem;
}

.input_wrapper label span{
  color: #C1BCCC;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-left: .6rem;
}

.input_wrapper label span:hover{
  color: #5a575f;
}

.input_wrapper input{
  height: 5.6rem;
  border-radius: .8rem;
  border: .1rem solid  var(--grayBorder);
  background-color: #FAFAFC;
  padding: 0 2.4rem;
}

.input_wrapper input:invalid{
  border: .1rem solid rgba(255, 0, 0, .5);
}

.container_title_3COL{
  display: flex;
  flex-direction: column;
}

.container_title_3COL h3{
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 3.4rem;
}

.input_wrapper_3col{
  display: flex;
}

.input_wrapper_3col > div:nth-child(1){
  margin-right: 3.2rem;
  width: 30rem;
}

.input_wrapper_3col > div:nth-child(2){
  margin-right: 1rem;
}

.input_wrapper_3col > div:nth-child(2),
.input_wrapper_3col > div:nth-child(3){
  width: 14rem;
}

footer{
  height: 16rem;
  background-color: var(--darkBackground);
  border-radius: 0 0 2rem 2rem;
  display: flex;
  align-items: center;
}

footer button {
  width: 100%;
  color: white;
  background-color: var(--redAction);
  padding: 1.5rem 4rem;
  border-radius: 2rem;
  border: none;
  margin: 0 7.1rem;
  cursor: pointer;
}

footer button:hover{
  filter: brightness(.9);
}